<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div id="most-outter">
    <div id="outter">
  <div class="container text-white">
    <div class="row login-form bg-dark">
      <div class="col">
        <h2>Sign Up Form</h2>
        <form class="signup">
 <div class="form-group" autocomplete="off">
            <label for="InputName" autocomplete="off">Your Name</label>
            <input type="text" class="form-control logsign-field" id="name-input" placeholder="John Doe" autocomplete="off">
          </div>
<div class="form-group">
            <label for="InputPhone">Your Phone Number</label>
            <input type="tel" class="form-control logsign-field" id="phone-input" placeholder="+12 123 123 1234" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input type="text" class="form-control logsign-field" id="email-input" placeholder="you@domain.com" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control logsign-field" id="password-input" placeholder="password" autocomplete="off">
          
          </div>



           <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-circle"></i>
            <span>Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-outline-success">Sign Up</button>
        </form>
        <br />

<div id="pswd_info" >
            <h6>Password must have:</h6>
                <p id="letter" class="invalid">At least <strong>one letter</strong></p>
                <p id="capital" class="invalid">At least <strong>one capital letter</strong></p>
                <p id="number" class="invalid">At least <strong>one number</strong></p>
                <p id="length" class="invalid">Be at least <strong>8 characters</strong></p>
       
        </div>
        <p>Or log in <a id="here" href="/" role="button" class="btn btn-outline-primary btn-sm">here</a></p>
      </div>
    </div>
  </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
