<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
 <div class="form-group">
            <label for="InputName">Your Name</label>
            <input type="text" class="form-control" id="name-input" placeholder="John Doe">
          </div>
<div class="form-group">
            <label for="InputPhone">Your Phone Number</label>
            <input type="tel" class="form-control" id="phone-input" placeholder="+12 123 123 1234">
          </div>
          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input type="text" class="form-control" id="email-input" placeholder="you@domain.com">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="password">
          
          </div>



           <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-circle"></i>
            <span>Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <br />

<div id="pswd_info">
            <h6>Password must meet the following requirements:</h6>
                <p id="letter" class="invalid">At least <strong>one letter</strong></p>
                <p id="capital" class="invalid">At least <strong>one capital letter</strong></p>
                <p id="number" class="invalid">At least <strong>one number</strong></p>
                <p id="length" class="invalid">Be at least <strong>8 characters</strong></p>
        </div>
        <p>Or log in <a href="/">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
