html {
  height: 100%;
  min-width: 320px;
  background-color: #343a40;
}

body,
#root,
#profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.list-group-item {
  line-height: 2.5;
}
#multiCollapseExample4 {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.E404 {
  margin: 10% 0 10%;
  color: white;
  text-align: center;
}
.messages {
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}
.container {
  margin: auto;
}
img {
  margin: 5px;
  max-width: 40px;
  border-radius: 50%;
}

select {
  margin: 5px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#most-outter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#outter {
  background-color: #6c757d;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 420px;
}

.login-form {
  margin: 30px 30px 30px 30px;
}

.logsign-field {
  width: 100%;
}

.inner-div {
  border: solid 2px white;
  padding: 10px 15px 15px 15px;
}

@media screen and (max-width: 576px) {
  #outter {
    
    max-width: 320px;
  }

}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
textarea[type="text"],
select[type="list"] {
  padding: 10px 10px;
  border: 1px solid #d5d9da;
  border-radius: 5px;
  box-shadow: 0 0 5px #e8e9eb inset;
  outline: 0;
  /* remove webkit focus styles */
  background-color: #6c757d;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  color: white;
}

select[type="list"] {
  border: 1px solid #d5d9da;
  border-radius: 5px;
  box-shadow: 0 0 5px #e8e9eb inset;
  height: calc(1.5em + 0.9rem + 2px);
  outline: 0;
  /* remove webkit focus styles */
  background-color: #6c757d;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  color: white;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
textarea[type="text"]:focus {
  border: 1px solid #b9d4e9;
  border-top-color: #b6d5ea;
  border-bottom-color: #b8d4ea;
  box-shadow: 0 0 5px #b9d4e9;
  background-color: #6c757d;
  color: white;
}
select[type="list"]:focus {
  border: 1px solid #b9d4e9;
  border-top-color: #b6d5ea;
  border-bottom-color: #b8d4ea;
  box-shadow: 0 0 5px #b9d4e9;
  background-color: #6c757d;
  color: white;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: #00397a;
}

input#taskDeadline[type="date"]::-webkit-inner-spin-button,
input#taskDeadline[type="date"]::-webkit-outer-spin-button {
  background: red;
  color: white;
}
/* =======date input===== */

#taskDeadline {
  width: 250px;
  position: relative;
}
/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input#taskDeadline[type="date"]:after {
  content: "\25BE";
  color: white;
  /* color: blue; */
  padding: 0 5px;
}

/* change color of symbol on hover */
input#taskDeadline[type="date"]:hover:after {
  color: white;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input#taskDeadline[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

/* adjust clear button */
input#taskDeadline[type="date"]::-webkit-clear-button {
  z-index: 1;
}

/* =======date input===== */

#here {
  display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;

  padding: 10px 10px;
  border: 1px solid #d5d9da;
  border-radius: 5px;
}

.navText {
  display: inline-block;
  font-size: 20pt;
  font-weight: 500;
  margin-left: 20px;
}

.navbarTitle {
  color: white;
}

.projectCard,
.categoryCard {
  margin: auto;
  margin-bottom: 10px;
  min-width: 160px;
  color: #fff;
  min-height: 200px;
  max-height: 200px;
  padding: 0px;
}

.card-header {
  font-size: 20pt;
}

#here {
  display: inline-block;
}

/* Password Information Box */

#pswd_info {
  position: relative;
  z-index: 1;
  bottom: 75px;
  bottom: -1px\9;
  /* IE Specific */
  right: -155px;
  width: 250px;
  padding: 15px;
  background: black;
  border: 1px solid #b9d4e9;
  border-top-color: #b6d5ea;
  border-bottom-color: #b8d4ea;
  box-shadow: 0 0 5px #b9d4e9;
  background-color: rgb(128, 128, 128);
  font-size: 0.875em;
  border-radius: 5px;
}

#pswd_info h6 {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
}

#pswd_info p {
  margin: 0;
}

#pswd_info::before {
  content: "\25B2";
  position: absolute;
  top: -12px;
  left: 45%;
  font-size: 14px;
  line-height: 14px;
  color: #05728f;
  text-shadow: none;
  display: block;
}

.invalid {
  background: url(../images/cancel.png) no-repeat 0 50%;
  padding-left: 22px;
  line-height: 24px;
  color: #a00103;
}

.valid {
  background: url(../images/accept.png) no-repeat 0 50%;
  padding-left: 22px;
  line-height: 24px;
  color: #0b6d02;
}

#pswd_info {
  display: none;
}

/* scrollbar css */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005fc4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173);
}

/* Style Nacho ==============================================*/

.btn {
  margin: 5px;
}

.fa-4 {
  font-size: 12pt;
}

.jumbotron {
  margin: 5vh 5vh;
}

.project-row, .category-row {
  margin: 10px;
}

.display-3 {
  font-size: 20pt;
  font-weight: 500;
}

.display-4 {
  font-size: 14pt;
}

.display-5 {
  font-size: 12pt;
}

.chat-message {
  word-break: break-all;
}

@media screen and (max-width: 992px) {
  .jumbotron {
    padding: 3rem 1.5rem;
  }
  .display-5 {
    font-size: 0.95em;
  }
  
  .display-4 {
    font-size: 0.95em;
  }
  .display-3,
  .navText {
    font-size: 0.9em;
    font-weight: 400;
  }
  .btn {
    padding: 0.3375rem 0.675rem;
  }
  .fa-4 {
    font-size: 0.9em;
  }
  .body {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
    margin: 3vh 3vh;
  }
  .project-row {
    margin: 0px;
    margin-bottom: 5px;
  }
  .category-row {
    margin: 0px;
    margin-top: 5px;
  }
  .display-5 {
    font-size: 0.9em;
  }
  
  .display-4 {
    font-size: 0.9em;
  }
  .display-3,
  .navText {
    font-size: 0.8em;
    font-weight: 300;
  }
  .navText {
    margin-left: 0;
  }
  .btn {
    padding: 0.3rem 0.6rem;
  }
  .fa-4 {
    font-size: 0.8em;
  }
  .body {
    overflow: hidden;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron {
    margin: 0vh 0vh;
    padding: 1.25rem 1.25rem;
  }
  .navText {
    display: block;
    max-width: "50%";
    word-break: "break-all";
  }
  
  .btn {
    padding: 0.2625rem 0.525rem;
  }
  .fa-4 {
    font-size: 0.75em;
  }
  .body {
    overflow: hidden;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0;
  vertical-align: top;
  width: auto;
}

.received_withd_msg p {
  background: #bedfff none repeat scroll 0 0;
  border-radius: 3px;
  color: black;
  font-size: 14px;
  margin: 5px;
  padding: 5px;
}

.time_date, .msg_author {
  color: #747474;
  display: block;
  font-size: 8pt;
  margin: 0px 0 0;
}

.msg_author {
  margin: 0 0 8px 0;
}

.received_withd_msg {
  max-width: 90%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  height: 20vh;
}

.sent_msg p {
  background: #ccffc1 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: black;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  max-width: 90%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

/* Style Elvan ==============================================*/

/* For the margin on "EditTaskModal" Text and Input areas. */
.noMargin {
  margin: 0;

}

.form-control {
  margin-left: 0;
}

.modal {
  margin:0;
  width: 100%;
  padding:0!Important;
}
/* This spread out the TaskModal across the entire window. */
.modal-dialog {
  margin:0;
  width: 100%;
  min-width: 100%;
}

/* Adding style to the immediate child of the "taskModal" id tag. */
#taskModal > .modal-content {
  background-color: #343a40;
  margin:0;
  width: 100%;
}

/* Adding style to the immediate child of the "newProjectModal" id tag. */
#newProjectModal > .modal-content {
  background-color: #343a40;
  color: white;
}

/* Adding style to the immediate child of the "delProjectModal" id tag. */
#delProjectModal > .modal-content {
  background-color: #343a40;
  color: white;
}

/* Adding style to the immediate child of the "newCategoryModal" id tag. */
#newCategoryModal > .modal-content {
  background-color: #343a40;
  color: white;
}

/* Adding style to the immediate child of the "delProjectModal" id tag. */
#delCategoryModal > .modal-content {
  background-color: #343a40;
  color: white;
}

@media screen and (max-width: 768px) {
  #taskUsers, #notTaskUsers {
    margin: 0;
  }
  #delFromAddList, #delFromDelList, #addTaskUser{
    margin-left:0;
  }
  .taskCard-cardBody, .taskInfo-cardBody {
    padding: .5rem;
  }
}

@media screen and (max-width: 576px) {
  /* Navigation tags on the Task Card. */
  .task-conversation-tags {
    /* Turn them into Blocks so they fill up all the space. */
    display: block;
    /* Take up all the space to throw the next Tag downwards. */
    width: 100%;
    /* Set bottoom border to the Navigation Tags on the Task Card. */
    border-bottom: 1px solid #dee2e6;
  }
  #taskDeadline {
    width: 100%
  }
  /* Switcher to turn off the Chat Messages Author inistials on this resolution. */
  .chat-message-authtorInitials {
    display:none;
  }
}
